/* ヘッダーのスタイル */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    width: auto;
    flex-wrap: wrap;
}

.header-logo img {
    width: 370px;
    height: 36px;
}

.search-form {
    height: 50px;
}

.search-form__item-input {
    width: 500px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin-bottom: 15px;
}

.form__input--text {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tologin a,
.tomypage a,
.logged-out a {
    text-decoration: none;
    color: white;
}

.tosellform {
    background: #fff;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    justify-content: center;
    /* 水平方向の中央揃え */
    border-radius: 5px;
    /* 角を少し丸くする（オプション） */
}

.tosellform a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.taball {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    font-size: 24px;
}

/* タブレット (768px - 850px) */
@media screen and (max-width: 850px) {
    .search-form__item-input {
        width: 200px;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* スマホ (767px 以下) */
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .search-form__item-input {
        width: 100%;
        max-width: 300px;
        margin-top: 10px;
    }

    .tologin,
    .tomypage,
    .tosellform,
    .logged-out {
        margin-top: 5px;
    }
}