/* ヘッダーのスタイル */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    width: auto;
    flex-wrap: wrap;
}

.header-logo img {
    width: 370px;
    height: 36px;
}

.search-form {
    height: 50px;
}

.search-form__item-input {
    width: 500px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin-bottom: 15px;
}

.form__input--text {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tologin a,
.tomypage a,
.logged-out a {
    text-decoration: none;
    color: white;
}

.taball {
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    gap: 20px;
    /* 適度な間隔を設定 */
    margin-right: 50px;
    font-size: 24px;
}

.taball a {
    text-decoration: none;
    color: white;
}

.tosellform {
    background: #fff;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    justify-content: center;
    /* 水平方向の中央揃え */
    padding: 0 15px;
    /* 内側の余白を調整 */
    border-radius: 5px;
    /* 角を少し丸くする */
}

.tosellform a {
    color: black;
    font-size: 24px;
}

input,
textarea,
select {
    font-size: 20px;
    /* 入力文字のサイズ */
    padding: 10px;
    /* 余白を増やすと見やすくなる */
}

/* タブレット (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search-form__item-input {
        width: 300px;
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;
        height: 120px;
    }

    .taball {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .tosellform {
        width: auto;
        padding: 5px 10px;
    }
}