.toregister{
    margin: 50px;
}

.toregister a{
    text-decoration: none;
    color: #0073CC;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin-bottom: 40px;
}

.form__input--text,
.form_button {
    width: 680px;
    height: 57px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* パディングやボーダーを含めてサイズを調整 */
}

.form_button {
    padding: 0;
    /* ボタンの余計な余白を消す */
}

.form__button-submit {
    background-color: #FF5555;
    padding: 19px 300px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login__content {
    text-align: center;
    margin-top: 50px;
}

.form__label--item__mail{
    font-weight: bold;
    margin-right: 35rem;
}

.form__label--item__pass{
    font-weight: bold;
    margin-right: 37rem;
}

h3{
    margin: 60px;
}