.toregister{
    margin: 50px;
}

.toregister a{
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin-bottom: 40px;
}

.form__input--text,
.form_button {
    width: 680px;
    height: 57px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* パディングやボーダーを含めてサイズを調整 */
}

.form_button {
    padding: 0;
    /* ボタンの余計な余白を消す */
}

.form__button-submit {
    background-color: #FF5555;
    padding: 13.5px 262px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    margin-top: 50px;
}

.login__content {
    text-align: center;
    margin-top: 50px;
}

.form__label--item__mail,
.form__label--item__pass {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    display: flex;
    margin-bottom: 0;
    line-height: 5px;
    /* ラベルの余白をなくす */
}

h3{
    font-size: 36px;
}