.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.img-form::file-selector-button {
    font-weight: bold;
    color: #FF5555;
    background: white;
    font-size: 14px;
    border: solid 2px #FF5555;
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
}

.mb-3 {
    margin: 10px;
}

.form-label {
    font-weight: bold;
}

.form__button-submit {
    background-color: #FF5555;
    color: white;
    padding: 10px 122px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

