.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__content {
    text-align: center;
    margin-top: 50px;
}

.form__group{
    margin-bottom: 15px;
}

.form__label--name {
    font-weight: bold;
    margin-right: 34rem;
    font-size: 24px;
}

.form__label--mail {
    font-weight: bold;
    margin-right: 32rem;
    font-size: 24px;
}

.form__label--pass {
    font-weight: bold;
    margin-right: 35rem;
    font-size: 24px;
}

.form__label--confirm {
    font-weight: bold;
    margin-right: 30rem;
    font-size: 24px;
}

.form__input {
    width: 680px;
    height: 59px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tologin {
    margin: 20px;
}

.tologin a{
    color: #0073CC;
    font-size: 20px;
}

.form__button-submit {
    background-color: #FF5555;
    color: white;
    padding: 13.5px 288px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 90px;
    font-size: 26px;
}

h3 {
    font-size: 36px;
}